/* Estilos generales para el modal */
.record-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Fondo oscuro para los elementos de la lista */
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .record-list-item:hover {
    background-color: #555; /* Cambio de color al pasar el ratón */
  }
  
  .record-list-item img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  /* Estilos para el Modal */
  .modal-content {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro translúcido para el modal */
    color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .modal-header {
    border-bottom: 1px solid #444;
  }
  
  .modal-header .close {
    color: white;
    font-size: 1.5rem;
  }
  
  .modal-header .modal-title {
    color: red; /* Título en rojo, consistente con otros componentes */
  }
  
  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .modal-footer {
    background-color: #444;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-footer .btn {
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .modal-footer .btn-secondary {
    background-color: #555;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #666;
  }
  
  .modal-footer .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .modal-footer .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para el botón deshabilitado */
  .modal-footer .btn:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .modal-body {
      padding: 10px;
    }
  
    .record-list-item {
      font-size: 14px;
      padding: 8px;
    }
  
    .modal-footer .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  