/* Estilos generales para el footer */
footer {
  position: relative;
  margin-bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Fondo oscuro semi-transparente */
  color: #f7f7f7; /* Texto claro */
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  /* z-index: 1;  */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte superior del footer */
}

/* Contenedor dentro del footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo para el texto del footer */
footer p {
  margin: 0;
  font-weight: bold;
}

/* Estilo para los enlaces en el footer */
.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

/* Estilo para los enlaces del footer */
.footer-nav li a {
  color: #f7f7f7;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover en los enlaces */
.footer-nav li a:hover {
  color: #ffbb33;
}
