/* Contenedor principal de la página de inicio */
.home-layout {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #121212; /* Fondo oscuro */
  color: white;
  overflow: hidden; /* Evita que haya scroll en el contenedor principal */
}




/* Título principal */
.home-layout__content-wrapper__welcome-title {
  color: #ff4500; /* Título en naranja brillante */
  font-size: 1.8rem; /* Reducido para un diseño más compacto */
  text-align: center;
  margin-bottom: 10px; /* Menos espacio abajo */
}

/* Subtítulo */
.home-layout__content-wrapper__welcome-subtitle {
  color: #ccc; /* Subtítulo */
  font-size: 1rem; /* Reducción de tamaño */
  text-align: center;
  margin-bottom: 15px; /* Espacio más pequeño */
}
