.content-container {
  padding-top: 4rem;
}

.navbar-container {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
  margin-left: 50px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: red !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.btn-login {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 25px;
  margin-right: 40px;
  position: relative;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  color: red;
}

.btn-radio {
  background-color: #ff3300;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.btn-radio:hover {
  color: red !important;
}

.radio-navbar {
  margin-right: 20px;
  display: flex;
  align-items: center;
}




