
.sidebar {
    background-color: #343a4029; 
    padding-top: 20px;
    color: #fff;
}

.sidebar .nav-link {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: #49505726;
}

.content {
    padding: 20px;
    margin-left: 250px;
    min-height: 100vh;
    background-color: #343a4041;
    color: #fff;
}

.content h2, .content h3, .content p {
    color: #fff;
}

.content .text-warning {
    color: #ffc107;
}


@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #343a40;
    }

    .content {
        margin-left: 0;
    }

    .sidebar .nav-link {
        text-align: center;
        padding: 10px;
    }
}
