.search-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    max-width: 600px; /* Ajusta el ancho máximo */
    /* max-height: 80vh;  */
    margin: 0 auto; /* Centrado horizontal */
    background-color: rgba(87, 85, 85, 0.21); 
    backdrop-filter: blur(5px); 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    overflow-y: auto; 
}

.search-music h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ffffff; /* Letras blancas */
    text-align: center;
}

.search-music select,
.search-music input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000cc; /* Texto blanco */
    background-color: rgba(255, 255, 255, 0.316); /* Fondo semitransparente */
}

.search-music button {
    padding: 10px 20px;
    background-color: #ffbb33;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.search-music button:hover {
    background-color: #343a40;
    color: #ffbb33;
    transform: scale(1.05);
}

.search-music ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search-music li {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaciado entre imagen y contenido */
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    color: #ffffff; /* Letras blancas */
}

.search-music img {
    width: 150px; /* Imagen más grande */
    height: 150px;
    object-fit: cover;
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.search-music div {
    flex: 1; /* Ocupa el resto del espacio */
}

.search-music p {
    margin: 5px 0;
    color: #ffffff; /* Letras blancas */
}

.search-music button {
    margin-top: 10px;
    align-self: flex-start;
}


#app {
    flex: 1; 
    /* display: flex; */
    /* flex-direction: column; */
    overflow-y: auto; 
}